/*@font-face*/
@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous/Righteous-Regular.ttf);
}