/* if the viewport is equal to 600px or less than that */ 
@media only screen and (max-width: 600px){
    /*gobal*/
    .row{
        flex-direction: column;
        width: 100%;
    }
    .wrapper{
        width: 90%;
    }
    .btn_cta{
        font-size: 15px;
    }
    .title, .title-2{
        font-size: 25px;
    }
    .text{
        font-size: 15px;
        line-height: 1.8rem;
    }
    
    /*elements of the message box*/
    .icon{
        width: 20px;
        height: 20px;
        font-size: smaller;
    }
    div code{
        font-size: small;
    }
    .intro-area .wrapper > div:first-of-type, .intro-area .wrapper > div:last-of-type, .contact-area .wrapper > div:first-of-type, .contact-area .wrapper > div:last-of-type, .project-screen > div:first-of-type{
        padding: 8rem 0;
    }


    /*intro area*/
    .intro-area{
        height: 120vh;
    }
    .intro-area .wrapper > div:last-of-type{
        text-align: center;
    }
    .intro-area .wrapper > div:last-of-type .title{
        padding-top: 1.5rem;
        height: 4rem;
    }
    .intro-area .wrapper > div:last-of-type .hstack{
        flex-direction: column;
    }


    /*skills and projects areas */
    .projects-area .project-intro, .projects-area .project-screen, .skills-area div[class*='col-']{
        width: 100%;
    }
    .skills-area .btn_cta, .projects-area .project-intro .btn_cta{
        font-size: 15px;
    }
    .skills-area .btn_cta{
        margin-bottom: 1rem;
    }
    .projects-area .project-intro{
        padding-left: 1rem;
    }
    .projects-area .project-intro .title{
        padding-top: 20px;
    }
    .projects-area .project-intro .text{
        padding: 0.8rem 0;
    }
}



/* if the viewport is equal to 992px or less than that */ 
@media screen and (max-width: 992px) {
    /*intro-area*/
    .intro-area .wrapper > div:last-of-type{
        text-align: center;
    }
    .intro-area .wrapper > div:last-of-type .hstack{
        justify-content: center;
    }


    /*projects area*/
    .projects-area .project-intro, .projects-area .project-screen{
        width: 100%;
    }
    .projects-area .row{
        flex-direction: column;
        width: 100%;
    }
    .projects-area .project-intro .title{
        padding-top: 20px;
    }
}