@import url(./partials/_variables.css);
@import url(./partials/_global.css);
@import url(./fonts.css);


/*intro-area*/
.intro-area{
    padding-top: 12rem;
    background: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 40%,
        var(--second-color) 40%,
        var(--second-color) 100%
    );
    width: 100%;
    height: 75vh;
}
.intro-area .wrapper > div:first-of-type{
    background: var(--white-color);
    border-radius: 25px 25px 0 0;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.intro-area .wrapper > div:last-of-type{
    background: #FFA987;
    border-radius: 0 0 25px 25px;
    border: 3px solid #000000;
    border-top: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 3vh 0;
}
.intro-area img{
    border-radius: 50%;
    width: 20rem;
    height: auto;
    border: solid 20px #E54B4B;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.intro-area a{
    text-decoration: none;
    color: #000000;
}
.intro-area span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }


/*about-me area*/
.about-me-area{
    padding-top: 8rem;
    background-color: var(--white-color);
    height: 100vh;
}
.curved{
    background-color: var(--white-color);
}
.curved svg{
    display: block;
}
.curved:first-of-type.upper{
    background: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 40%,
        var(--second-color) 40%,
        var(--second-color) 100%
    );
}
.about-me-area .content .title-2:first-of-type{
    color: var(--second-color);
}
.about-me-area .content .title-2:first-of-type::after{
    background-color: var(--first-color);
}
.about-me-area .content:last-of-type .title-2{
    margin-top: 3.8rem;
    color: var(--first-color);
}
.about-me-area .content:last-of-type .title-2::after{
    background-color: var(--second-color);
}
.about-me-area .content{
    display: flex;
    flex-direction: column;
    margin: 15vh 0;
}
.about-me-area .content:last-of-type{
    justify-content: right;
    align-items: flex-end;
    text-align: right;
}


/*skills-area*/
.skills-area{
    padding: 8rem 0;
    height: 50vh;
    background: linear-gradient(
        to right,
        var(--second-color) 0%,
        var(--second-color) 40%,
        var(--first-color) 40%,
        var(--first-color) 100%
    );
}
.skills-area .title-2{
    color: var(--second-color);
}
.skills-area .title-2::after{
    background-color: var(--first-color);
}
.skills-area .text{
    color: var(--white-color);
}
.skills-area .btn_cta{
    font-size: 28px;
}
.skills-area .row:first-of-type{
    padding: 10vh 0;
}


/*projects-area*/
.projects-area{
    padding: 32rem 0;
    background: linear-gradient(
        to right,
        var(--second-color) 0%,
        var(--second-color) 40%,
        var(--first-color) 40%,
        var(--first-color) 100%
    );
}
.projects-area .wrapper .con{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.projects-area .row{
    padding: 3.8rem 0;
}
.projects-area .title-2{
    color: var(--first-color);
}
.projects-area .title-2::after{
    background-color: var(--second-color);
}
.projects-area .project-screen > div:first-of-type{
    background: var(--white-color);
    border-radius: 25px 25px 0 0;
    border: 3px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.projects-area .project-screen > div:last-of-type{
    border-radius: 0 0 25px 25px;
    border: 3px solid #000000;
    border-top: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.projects-area .project-screen .carousel{
    overflow: hidden;
}
.projects-area .project-screen > div:last-of-type img{
    border-radius: 0 0 25px 25px;
}
.projects-area .project-intro .btn_cta{
    font-size: 28px;
}
.projects-area .project-intro .text, .project-intro .title i{
    color: var(--white-color);
}
.projects-area .project-intro .title{
    color: #FFA987;
}


/*contact-area*/
.curved:last-of-type.upper{
    background: linear-gradient(
        to right,
        var(--second-color) 0%,
        var(--second-color) 40%,
        var(--first-color) 40%,
        var(--first-color) 100%
    );
}
.contact-area{
    background-color: var(--white-color);
}
.contact-area .wrapper > div:first-of-type{
    background: var(--white-color);
    border-radius: 25px 25px 0 0;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.contact-area .wrapper > div:last-of-type{
    background: #FFA987;
    border-radius: 0 0 25px 25px;
    border: 3px solid #000000;
    border-top: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 3vh 0;
}