html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background: linear-gradient(
        to right,
        var(--second-color) 0%,
        var(--second-color) 40%,
        var(--first-color) 40%,
        var(--first-color) 100%
    );
    overflow-x: hidden;
}
body>div {
    overflow-x:hidden;
}
.wrapper{
    width: 75%;
    margin: 0 auto;
}
.btn_cta i{
    color: var(--pink-color);
}
.title{
    font-size: 40px;
    font-family: var(--righteous);
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.title-2{
    font-size: 40px;
    font-family: var(--righteous);
    margin-bottom: 20px;
    letter-spacing: 3px;
    border: 3px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: relative;
    outline: none;
    width:fit-content; 
    width:-webkit-fit-content; 
    width:-moz-fit-content;
}
.title-2::after{
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}
.text{
    font-size: 23px;
    font-family: var(--quicksand);
    line-height: 3rem;
}
.btn_cta{
    background-color: #F7EBE8;
    text-decoration: none;
    color: #000000;
    padding: 10px 16px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    font-family: var(--quicksand);
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}
.btn_cta:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #000000;
}
.btn_cta:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  color: #000000;
}
.btn_cta:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  color: #000000;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #00000038;
    border-radius: 50%;
}

/*elements of the message box*/
.icon{
    background: var(--pink-color);
    color: var(--white-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 50%;
}
div code{
    color: var(--pink-color);
    font-weight: bolder;
    font-size: large;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--pink-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFA987; 
  }