html, body{
    margin : 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*CSS variables*/
:root{
    --first-color : #3E4E50;
    --second-color: #FACFAD;
    --white-color : #F7EBE8;
    --pink-color: #E54B4B;

    --quicksand : 'Quicksand', sans-serif;
    --righteous : 'Righteous';
}